Rush problem a but not others


===================== GENERAL ========================
First write pseudo code and then correct code
Queue is op , don't make problems solution complex
There is always an easy solution because you are dumb

DFS -> connection in graph
BFS -> where distance matters
======================================================
